@import "tailwindcss";
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/700.css";

@theme {
  --color-gray-100: #f5f5f5;
  --color-gray-400: #9ca3af;
  --color-gray-700: #2A272F;
  --color-gray-800: #141316;
  --color-gray-900: #0d0d0e;
  --color-gray-950: #090909;
  --color-purple-500: #D72DE8;
  --color-orchid-500: #DA70D6;
  --font-family-sans: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100vh;
  width: 100%;
  font-family: "Inter", sans-serif;
  color: var(--color-gray-100);
  background-color: var(--color-gray-800);
}

#root {
  height: 100%;
}
